{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}Dashboard - Analytics{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}
11
{% block vendor_js %}
{{ block.super }}
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}



{% block layout %}
<div class="row gy-6">
  <!-- Congratulations card -->
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-0 flex-wrap">Pending Service Provider Verifications</h5>
        <h4 class="text-primary mb-0">Total <span id="total_service_providers_count">0</span></h4>
        <p class="mb-2">Unverified Service Providers</p>
        <p class="mb-2 text-danger"><span id="unverified_service_providers_count">0</span> Remaining</p>
        <a href="/service_provider_verification" class="btn btn-sm btn-primary">View All</a>
      </div>
      <img src="{% static 'assets/img/illustrations/shield_check_mark_connected_outline.jpg' %}"
        class="position-absolute bottom-0 end-0 me-5 mb-5" width="83" alt="view sales">
    </div>
  </div>
  <!--/ Congratulations card -->

  <!-- Transactions -->
  <div class="col-lg-8">
    <div class="card h-100">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="card-title m-0 me-2">Transactions</h5>
          <div class="dropdown">
            <button class="btn text-muted p-0" type="button" id="transactionID" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="ri-more-2-line ri-24px"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
              <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
            </div>
          </div>
        </div>
        <p class="small mb-0" id="profit_loss_statement"><span class="h6 mb-0">Total 0% Growth</span> 😎 this month</p>
      </div>
      <div class="card-body pt-lg-10">
        <div class="row g-6">
          <div class="col-md-4 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-primary rounded shadow-xs">
                  <i class="ri-pie-chart-2-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Plans Subscribe</p>
                <h5 class="mb-0" id="current_month_total_plans_sales"> 0</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-success rounded shadow-xs">
                  <i class="ri-group-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Customers</p>
                <h5 class="mb-0" id="current_month_cunsumer_plans_sales">0</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-6">
            <div class="d-flex align-items-center">
              <div class="avatar">
                <div class="avatar-initial bg-warning rounded shadow-xs">
                  <i class="ri-store-line ri-24px"></i>
                </div>
              </div>
              <div class="ms-3">
                <p class="mb-0">Service Providers</p>
                <h5 class="mb-0" id="current_month_service_provider_plans_sales">0</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--/ Transactions -->

  <!-- Weekly Overview Chart -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h5 class="mb-1">Weekly Trending Services</h5>
          
        </div>
      </div>
      <div class="card-body pt-lg-2">
        <div id="weeklyTrendingServicesChart"></div>
        <div class="mt-1 mt-md-3">
          <div class="d-flex align-items-center gap-4">
            <h4 class="mb-0" id="trending_service_growth_percentage">45%</h4>
            <p class="mb-0" id="trending_service_message">Your sales performance is 45% 😎 better compared to last month</p>
          </div>
          <div class="d-grid mt-3 mt-md-4">
            <!-- <button class="btn btn-primary" type="button">Details</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Weekly Overview Chart -->

  <!-- Top Selling Plans -->
  <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title m-0 me-2">Top Selling Plans</h5>
        <div class="dropdown">
          <button class="btn text-muted p-0" type="button" id="totalEarnings" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="ri-more-2-line ri-24px"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarnings">
            <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
            <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
          </div>
        </div>
      </div>
      <div class="card-body pt-lg-8">
        <div class="mb-5 mb-lg-12">
          <div class="d-flex align-items-center">
            <h3 class="mb-0">$24,895</h3>
            <span class="text-success ms-2">
              <i class="ri-arrow-up-s-line"></i>
              <span>10%</span>
            </span>
          </div>
          <p class="mb-0">Compared to $84,325 last year</p>
        </div>
        <ul class="p-0 m-0">
          <li class="d-flex mb-6">
            <div class="avatar flex-shrink-0 bg-lightest rounded me-3">
              <img src="{% static 'assets/img/icons/misc/zipcar.png' %}" alt="zipcar">
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">Zipcar</h6>
                <p class="mb-0">Vuejs, React & HTML</p>
              </div>
              <div>
                <h6 class="mb-2">$24,895.65</h6>
                <div class="progress bg-label-primary" style="height: 4px;">
                  <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="d-flex mb-6">
            <div class="avatar flex-shrink-0 bg-lightest rounded me-3">
              <img src="{% static 'assets/img/icons/misc/bitbank.png' %}" alt="bitbank">
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">Bitbank</h6>
                <p class="mb-0">Sketch, Figma & XD</p>
              </div>
              <div>
                <h6 class="mb-2">$8,6500.20</h6>
                <div class="progress bg-label-info" style="height: 4px;">
                  <div class="progress-bar bg-info" style="width: 75%" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="d-flex">
            <div class="avatar flex-shrink-0 bg-lightest rounded me-3">
              <img src="{% static 'assets/img/icons/misc/aviato.png' %}" alt="aviato">
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">Aviato</h6>
                <p class="mb-0">HTML & Angular</p>
              </div>
              <div>
                <h6 class="mb-2">$1,2450.80</h6>
                <div class="progress bg-label-secondary" style="height: 4px;">
                  <div class="progress-bar bg-secondary" style="width: 75%" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/ Top Selling Plans -->

  <!-- Four Cards -->
  <div class="col-xl-4 col-md-6">
    <div class="row gy-6">
      <!-- Total Profit line chart -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header pb-0">
            <h4 class="mb-0">$86.4k</h4>
          </div>
          <div class="card-body">
            <div id="totalProfitLineChart" class="mb-3"></div>
            <h6 class="text-center mb-0">Total Profit</h6>
          </div>
        </div>
      </div>
      <!--/ Total Profit line chart -->
      <!-- Total Profit Weekly  -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="avatar">
              <div class="avatar-initial bg-secondary rounded-circle shadow-xs">
                <i class="ri-pie-chart-2-line ri-24px"></i>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn text-muted p-0" type="button" id="totalProfitID" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="ri-more-2-line ri-24px"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalProfitID">
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-1">Total Profit</h6>
            <div class="d-flex flex-wrap mb-1 align-items-center">
              <h4 class="mb-0 me-2">$25.6k</h4>
              <p class="text-success mb-0">+42%</p>
            </div>
            <small>OverAll Profit</small>
          </div>
        </div>
      </div>
      <!--/ Total Profit Weekly -->
      <!-- New Yearly -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div class="avatar">
              <div class="avatar-initial bg-primary rounded-circle shadow-xs">
                <i class="ri-group-line ri-24px"></i>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn text-muted p-0" type="button" id="newUsersID" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="ri-more-2-line ri-24px"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="newUsersID">
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                <a class="dropdown-item" href="javascript:void(0);">Last 6 month</a>
                <a class="dropdown-item" href="javascript:void(0);">This Year</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="mb-1">New Users</h6>
            <div class="d-flex flex-wrap mb-1 align-items-center">
              <h4 class="mb-0 me-2">862</h4>
              <p class="text-danger mb-0">-18%</p>
            </div>
            <small>Montly Overview</small>
          </div>
        </div>
      </div>
      <!--/ New Yearly  -->
      <!-- Sessions chart -->
      <div class="col-sm-6">
        <div class="card h-100">
          <div class="card-header pb-0">
            <h4 class="mb-0">2,856</h4>
          </div>
          <div class="card-body">
            <div id="sessionsColumnChart" class="mb-3"></div>
            <h6 class="text-center mb-0">Searches Attempts</h6>
          </div>
        </div>
      </div>
      <!--/ Sessions chart -->
    </div>
  </div>
  <!--/ Top Selling Plan -->



  <!-- Deposit / Withdraw -->
  <div class="col-xl-8">
    <div class="card-group">
      <div class="card mb-0">
        <div class="card-body card-separator">
          <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
            <h5 class="m-0 me-2">Reviews And Rating</h5>
            <a class="fw-medium" href="javascript:void(0);">View all</a>
          </div>
          <div class="deposit-content pt-2">
            <ul class="p-0 m-0">
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'assets/img/icons/payments/gumroad.png' %}" class="img-fluid" alt="gumroad"
                    height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Gumroad Account</h6>
                    <p class="mb-0">Sell UI Kit</p>
                  </div>
                  <h6 class="text-success mb-0">+$4,650</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'assets/img/icons/payments/mastercard-2.png' %}" class="img-fluid"
                    alt="mastercard" height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Mastercard</h6>
                    <p class="mb-0">Wallet deposit</p>
                  </div>
                  <h6 class="text-success mb-0">+$92,705</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'assets/img/icons/payments/stripes.png' %}" class="img-fluid" alt="stripes"
                    height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Stripe Account</h6>
                    <p class="mb-0">iOS Application</p>
                  </div>
                  <h6 class="text-success mb-0">+$957</h6>
                </div>
              </li>
              <li class="d-flex mb-4 align-items-center pb-2">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'assets/img/icons/payments/american-bank.png' %}" class="img-fluid" alt="american"
                    height="30" width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">American Bank</h6>
                    <p class="mb-0">Bank Transfer</p>
                  </div>
                  <h6 class="text-success mb-0">+$6,837</h6>
                </div>
              </li>
              <li class="d-flex align-items-center">
                <div class="flex-shrink-0 me-4">
                  <img src="{% static 'assets/img/icons/payments/citi.png' %}" class="img-fluid" alt="citi" height="30"
                    width="30">
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <h6 class="mb-0">Bank Account</h6>
                    <p class="mb-0">Wallet deposit</p>
                  </div>
                  <h6 class="text-success mb-0">+$446</h6>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Deposit / Withdraw -->

  <!-- Revenue by Regions -->
  <div class="col-xl-4 col-md-6">
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title m-0 me-2">Revenue by Regions</h5>
        <div class="dropdown">
          <button class="btn text-muted p-0" type="button" id="RevenueStatus" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="ri-more-2-line ri-24px"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="RevenueStatus">
            <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
            <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center mb-4">
            <div class="avatar me-4">
              <div class="avatar-initial bg-label-success rounded-circle">NM</div>
            </div>
            <div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <h6 class="mb-0">$8,656k</h6>
                <i class="ri-arrow-up-s-line ri-24px text-success"></i>
                <span class="text-success">25.8%</span>
              </div>
              <p class="mb-0">North Mauritius</p>
            </div>
          </div>
          <div class="text-end">
            <h6 class="mb-1">894k</h6>
            <small class="text-muted">Revenue</small>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center mb-4">
            <div class="avatar me-4">
              <span class="avatar-initial bg-label-danger rounded-circle">PL</span>
            </div>
            <div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <h6 class="mb-0">$2,415k</h6>
                <i class="ri-arrow-down-s-line ri-24px text-danger"></i>
                <span class="text-danger">6.2%</span>
              </div>
              <p class="mb-0">Port Louis in Mauritius</p>
            </div>
          </div>
          <div class="text-end">
            <h6 class="mb-1">645k</h6>
            <small class="text-muted">Revenue</small>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center mb-4">
            <div class="avatar me-4">
              <span class="avatar-initial bg-label-warning rounded-circle">CM</span>
            </div>
            <div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <h6 class="mb-0">865k</h6>
                <i class="ri-arrow-up-s-line ri-24px text-success"></i>
                <span class="text-success"> 12.4%</span>
              </div>
              <p class="mb-0">Centre Mauritius</p>
            </div>
          </div>
          <div class="text-end">
            <h6 class="mb-1">148k</h6>
            <small class="text-muted">Revenue</small>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center mb-4">
            <div class="avatar me-4">
              <span class="avatar-initial bg-label-secondary rounded-circle">EM</span>
            </div>
            <div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <h6 class="mb-0">$745k</h6>
                <i class="ri-arrow-down-s-line ri-24px text-danger"></i>
                <span class="text-danger">11.9%</span>
              </div>
              <p class="mb-0">East Mauritius</p>
            </div>
          </div>
          <div class="text-end">
            <h6 class="mb-1">86k</h6>
            <small class="text-muted">Revenue</small>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center mb-4">
            <div class="avatar me-4">
              <span class="avatar-initial bg-label-danger rounded-circle">WM</span>
            </div>
            <div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <h6 class="mb-0">$45k</h6>
                <i class="ri-arrow-up-s-line ri-24px text-success"></i>
                <span class="text-success">16.2%</span>
              </div>
              <p class="mb-0">West Mauritius</p>
            </div>
          </div>
          <div class="text-end">
            <h6 class="mb-1">42k</h6>
            <small class="text-muted">Revenue</small>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <div class="avatar me-4">
              <span class="avatar-initial bg-label-danger rounded-circle">SM</span>
            </div>
            <div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <h6 class="mb-0">$45k</h6>
                <i class="ri-arrow-up-s-line ri-24px text-success"></i>
                <span class="text-success">16.2%</span>
              </div>
              <p class="mb-0">South Mauritius</p>
            </div>
          </div>
          <div class="text-end">
            <h6 class="mb-1">42k</h6>
            <small class="text-muted">Revenue</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Sales by Regions -->


  <!-- Data Tables -->
  <div class="col-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="text-truncate">SR NO</th>
              <th class="text-truncate">User</th>
              <th class="text-truncate">Email</th>
              <th class="text-truncate">Phone</th>
              <th class="text-truncate">Role</th>
              <th class="text-truncate">Status</th>
            </tr>
          </thead>
          <tbody id="users_table_body">

          </tbody>
        </table>
        <div class=" d-flex justify-content-end m-3" id="secondpagination-demo2">
          <ul id="pagination-demo2" class="pagination-sm"></ul>
        </div>
      </div>
    </div>
  </div>
  <!--/ Data Tables -->
</div>
{% endblock layout %}
{% block page_js %}
{{block.super}}
<script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>



<script>
  $(document).ready(function () {

    Pagination()
  });

  function Pagination() {
    var testflag = true;
    $('#secondpagination-demo2').html('<ul id="pagination-demo2" class="pagination-sm"></ul>');
    get_table_data(1);

  }

  function get_table_data(p) {
    var search = $('#search').val()
    if (search == undefined) {
      search = ''
    }
    var activation_status = $('#activation_status').val()
    if (activation_status != '' && activation_status != undefined) {
      if (activation_status == 'Active') {
        activation_status = true
      } else {
        activation_status = false
      }
    }
    var fd = new FormData()
    fd.append('p', p)
    fd.append('searchtext', search)
    fd.append('activation_status', activation_status)

    fd.append('csrfmiddlewaretoken', '{{csrf_token}}')
    $.ajax({
      url: hosturl + "/api/User/user_list_pagination_api",
      data: fd,
      headers: { "Authorization": "Bearer {{token}}" },

      type: 'POST',
      processData: false,
      contentType: false,
      beforeSend: function () {
        swal({
          icon: "info",
          title: "",
          text: "Loading...",
          buttons: false,

        });
      },
      success: function (response) {
        var infohtml = ''
        swal.close()
        console.log('response d', response)
        if (response.count != 0) {
          var counter = parseInt(p + "1") - parseInt(10)

          $.each(response.results, function (i, o) {
            infohtml += `
                            
                                                
                                  <tr>
                                        <td>
                                            ${counter}
                                        </td>
                                        <td>                         
                                          <div class="d-flex align-items-center">
                                            <div class="avatar avatar-sm me-4">
                                              <img src="${o.profile_picture || hosturl + '/static/assets/img/avatars/1.png'}" alt="Avatar" class="rounded-circle">
                                            </div>
                                            <div>
                                              <h6 class="mb-0 text-truncate">${o.Username || ''}</h6>
                                              <small class="text-truncate">@${o.short_name || ''}</small>
                                            </div>
                                          </div>
                                        </td>
                                        <td class="text-truncate">
                                            <div>${o.email || ''}</div>
                                        </td>
                                        <td class="text-truncate">
                                            <div>${o.mobileNumber || ''}</div>
                                        </td>
                                        <td class="text-truncate">
                                          <div class="d-flex align-items-center">
                                            <i class="${o.role == 1 ? `ri-vip-crown-line text-primary` : o.role == 2 ? `ri-store-line text-warning` : `ri-user-3-line text-success`} ri-22px me-2"></i>
                                            <span>${o.Role_name || 'NA'}</span>
                                          </div>
                                        </td>
                                        <td>
                                            <span class="badge bg-label-${o.status ? `success` : `secondary`} rounded-pill">${o.status ? `Active` : `Inactive`}</span>
                                        </td>
                                    </tr>
                            

                            
           
                      `

            counter += 1
          });
          $('#users_table_body').html(infohtml);
          var totalfilter = Math.ceil(parseInt(response.count) / 10);
          $('#pagination-demo2').twbsPagination({
            totalPages: totalfilter,
            visiblePages: 3,
            next: 'Next',
            prev: 'Prev',
            onPageClick: function (event, page) {
              var testflag = true;
              //fetch content and render here
              filternamepageno = page
              if (testflag == true) {
                testflag = false;
                get_table_data(page)
              }
              $('#page-content').text('Page ' + page) + ' content here';
            }
          })




        } else {
          infohtml = `
                                <tr class="border-bottom text-center">
                                    <td colspan="6">No Data found</td>
                                </tr>
                    `
          $('#users_table_body').html(infohtml);

          swal({
            icon: "error",
            title: "",
            text: "No Data Found !",
            button: "Close",
          });
        }

      }
    })

  }


  function get_dashboard_data() {
    $.ajax({
      url: hosturl + "/api/Dashboard/dashboard_analytics_api",
      headers: { "Authorization": "Bearer {{token}}" },
      type: 'GET',
      // beforeSend: function () {
      //   swal({
      //     icon: "info",
      //     title: "",
      //     text: "Loading...",
      //     buttons: false,
      //   });
      // },
      success: function (response) {
        // swal.close()
        console.log('response', response)
        animateCounter($('#unverified_service_providers_count'), response.unverified_service_providers);

        $('#total_service_providers_count').text(`${response.total_service_providers}`)
        $('#profit_loss_statement').html(`<span class="h6 mb-0">Total ${response.profit_loss_statement}% Growth</span> 😎 this month`)
        $('#current_month_total_plans_sales').text(`${response.current_month_total_plans_sales}`)
        $('#current_month_cunsumer_plans_sales').text(`${response.current_month_cunsumer_plans_sales}`)
        $('#current_month_service_provider_plans_sales').text(`${response.current_month_service_provider_plans_sales}`)

        // Initialize the chart with the data
        initweeklyTrendingServicesChart(response.weekly_trending_services_data);
      }
    });
  }
  // Call the function to fetch and display the dashboard data
  get_dashboard_data();
  // Function to initialize the weekly overview chart
  function animateCounter(element, target, duration = 2000) {
    const start = 0;
    const increment = target / (duration / 16); // 16ms is roughly 1 frame at 60fps
    let current = start;

    const timer = setInterval(() => {
      current += increment;
      if (current >= target) {
        clearInterval(timer);
        current = target;
      }
      element.text(Math.floor(current));
    }, 10);
  }

  function initweeklyTrendingServicesChart(data) {
    debugger
    var options = {
      series: [{
        name: 'Weekly Overview',
        data: data
      }],
      chart: {
        type: 'area',
        height: 350,
        toolbar: {
          show: false
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth'
      },
      xaxis: {
        type: 'datetime',
        categories: data
      },
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm'
        }
      }
    };

    var chart = new ApexCharts(document.querySelector("#weeklyTrendingServicesChart"), options);
    chart.render();
  }


</script>
{%endblock page_js %}